<div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="false">
  <button dropdownToggle type="button" class="btn btn-primary ">
    Button dropdown <span>
      <ng-container *ngIf="!dropdown.isOpen"><fa-icon [icon]="faChevronDown"></fa-icon></ng-container>
      <ng-container *ngIf="dropdown.isOpen"><fa-icon [icon]="faChevronUp"></fa-icon></ng-container>
    </span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a>
    </li>
    <li role="menuitem"><a class="dropdown-item" href="#">Something else
      here</a></li>
  </ul>
</div>